#books img, #book img{
    align-content: center;
  }
   
  @media(min-width:960px){
    #books .col-md-3 .well{
      height: 350px;
      
      
    }
  
    #books .col-md-3 img{
      height: 240px;
      
    }

    #drinks img, #drink img {
      width: 300px;
    }

  }


html {
background: url("../img/bar_library.jpg") no-repeat center center;
min-height: 100%;
background-size: cover;
background-repeat: repeat-y;
position: absolute;
top: 0;
left: 0;
overflow: hidden;
}




body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  width:100vw;
  height:100vh;
  background: transparent;
  color: white;
}

p {
  line-height: 1.75;
  color: white;
}

a {
  color: #fed136;
  color: white;
}

a:hover {
  color: #fec503;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: white;
}

section {
  padding: 100px 0;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

.btn {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: #fed136;
  border-color: #fed136;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #fec810 !important;
  border-color: #fec810 !important;
  color: white;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}



input {
    width: 40%;
    margin-left:auto;
    margin-right:auto;
}


.opaque { background-color: rgba(255, 255, 255, 0.3);
 margin-top: 25px;
 }

.opaque1 { background-color: rgba(255, 255, 255, 0.0);
 margin-top: 25px;
 }

.white-text { 
color: white;

 }